<!DOCTYPE html>
<html ng-app="BookApp">

    <head>
        <meta charset="utf-8">
        <title>Шаг 6 / Фреймворк AngularJS / Нетология</title>
        <script src="../libs/angular-1.5.3/angular.js"></script>
    </head>

    <body ng-controller="BookSingleCtrl">
	
        <h3>{{book.name | uppercase}}</h3>
            <p>{{book.author}}</p>
            <p>Страниц: {{book.pages}}, цена: {{book.price}}</p>
			
        <script src="js/step6/app.js"></script>
        <script src="js/step6/controllers.js"></script>

    </body>

</html>
